.landing-page {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #000000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.landing-page-column {
  padding-left: 20%;
  padding-right: 20%;
}

.navbar-logo-left {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #090A0A;
  justify-content: center;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.navbarcontainer {
  width: 100%;
  max-width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-content {
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar-brand {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.logo {
  width: 141px;
  height: 55px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-menu {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

@media screen and (max-width:767px){
  .navbar-collapse {
    background: #000;
    position: absolute;
    top:100px;
    width: 50%;
  }
}

/* .navbar-link {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 12px;
  display: flex;
} */

.text {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 400;
  line-height: 150%;
}

.text-purple{
    color: #9990FF;  
}

.navbar-button {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #9990FF;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  display: flex;
}

.text-2 {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}

.hero-stack {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #000000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 24px;
  display: flex;
}

.small-container {
  width: 100%;
  /* max-width: 960px; */
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.title-section {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.text-3 {
  color: #FFFFFF;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
}

.error-0857cffa-c901-8f98-89b3-4272e4d9b8bc {
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.actions {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.button {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #000;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.image-wrapper {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.glide__track{
  text-align: center;
}

.image {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.iframe-container {
  display: flex; width: 100%; height: 100%; flex-direction: column; background-color: blue; overflow: hidden;
}
.iframe-child {
  flex-grow: 1; border: none; margin: 0; padding: 0; 
}

.gallery-overview {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #32343a;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 24px;
  display: flex;
}

.columns {
  width: 100%;
  /* max-width: 940px; */
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column {
  width: 100%;
  max-width: 260px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.list-items {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-4 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

.small-columns {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column-2 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.product-item {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-2, .image-3, .image-4 {
  width: 100%;
  height: 271px;
  max-width: 292px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-5 {
  width: 100%;
  height: 271px;
  max-width: 292px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-wrapper-3 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-6 {
  width: 100%;
  height: 271px;
  max-width: 292px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-7 {
  width: 100%;
  height: 271px;
  max-width: 292px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-8 {
  width: 100%;
  height: 104px;
  max-width: 292px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contact-form {
  width: 100%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-color: #000000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  border-style:none;
  padding: 24px 0px;
}

.contact-form iframe{
  border-style:none
}

.container {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section-title {
  width: 100%;
  max-width: 530px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-5 {
  color: #9990FF;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}

.text-6 {
  color: #D9D9D9;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

.form-wrapper {
  width: 100%;
  max-width: 500px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.form {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.input-wrapper {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.form-text-input {
  width: 100%;
  height: 42px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #979797;
  background-color: #FFFFFF;
  border: 1px solid #979797;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  display: flex;
}

.form-text-input::-ms-input-placeholder {
  color: #979797;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.form-text-input::placeholder {
  color: #979797;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.text-7 {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.form-text-input-2 {
  width: 100%;
  height: 42px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #979797;
  background-color: #FFFFFF;
  border: 1px solid #979797;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  display: flex;
}

.form-text-input-2::-ms-input-placeholder {
  color: #979797;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.form-text-input-2::placeholder {
  color: #979797;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.form-textarea {
  width: 100%;
  height: 100px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #979797;
  background-color: #FFFFFF;
  border: 1px solid #979797;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  display: flex;
}

.form-textarea::-ms-input-placeholder {
  color: #979797;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.form-textarea::placeholder {
  color: #979797;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.form-button {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #fff;
  background-color: #9990FF;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  display: flex;
}

.footer {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: #000000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 24px 8px;
  display: flex;
}

.columns-2 {
  width: 100%;
  max-width: 1400px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.column-3 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.logo-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.small-columns-2 {
  width: 100%;
  max-width: 600px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.content-2 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-8 {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.footer-links {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  
}

.link {
  color: #e4ebf3;;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.copyright {
  width: 100%;
  max-width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  /* box-shadow: 0 -1px #e4ebf3; */
}

.text-9 {
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.landing-page-2 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #000000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.navbar-logo-left-2 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #090A0A;
  justify-content: center;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.navbarcontainer-2 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #090A0A;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-content-2 {
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar-brand-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.logo-2 {
  width: 141px;
  height: 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-menu-2 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.navbar-link-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 12px;
  display: flex;
}

.text-10 {
  color: #FFFFFF;
  flex: 0 auto;
  order: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.navbar-button-2 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #9990FF;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  display: flex;
}

.text-11 {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}

.hero-stack-2 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #000000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 24px;
  display: flex;
}

.small-container-2 {
  width: 100%;
  max-width: 960px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.title-section-2 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.drops-creative-solutions-delightful-augmented-reality-experiences {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.main-title {
  text-align: left;
}

.herotitle {
  color: #FFFFFF;
  font-weight: 400;
  line-height: 125%;

  padding-left: 0;
  font-size: 3em;
}

.herotitle-2 {
  color: #9990FF;
  font-size:3em;
  font-weight: 400;
  line-height: 125%;
}

@media screen and (max-width: 479px) {
  .herotitle {
    font-size: 2em;
  }
  .herotitle-2 {
    font-size: 2em;
  }
}

.herosubtitle-b {
  text-align: left;
  color: #fff;
  font-size: 20px;
  font-weight:bold;
}

.herosubtitle-bp {
  text-align: left;
  color: #9990FF;
  font-size: 20px;
  font-weight:bold;
}

.herosubtitle-2 {
  text-align: left;
  color: #fff;
  font-size: 20px;
  font-weight:lighter;
}

.image-wrapper-4 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-9 {
  width: 100%;
  height: 564px;
  min-height: 564px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: url('../images/Image_1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-12 {
  color: #FFFFFF;
  text-align: center;
  font-size: 96px;
  font-weight: 700;
  line-height: 150%;
}

.content-3 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  display: flex;
}

.text-13 {
  color: #9990FF;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  text-align: left;
}

.full-bleed-black {
  box-shadow: 0 0 0 100vmax #000000;
  clip-path: inset(0 -100vmax); 
}

.full-bleed {
  box-shadow: 0 0 0 100vmax #32343a;
  clip-path: inset(0 -100vmax); 
}


.error-b0c8b530-0e89-3626-6a08-98ec4f4b44ea {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
}

.drops-team {
  height: auto;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #32343a;
  justify-content: left;
  align-items: flex-start;
  padding: 10px 0px 10px 0px;
  display: flex;
}

.map-container {
    position: relative;
    text-align: center;
    color: white;  
}

.centered {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map-img{
  height: 100vh;
    object-fit: cover;
}

.contact {
  width: 100%;
}

.columns-3 {
  width: 100%;
  height: 614px;
  /* max-width: 941px; */
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: left;
}

.f2wf-columns-2 {
  height: auto;
}

.column-4 {
  width: 240px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 25px;
  display: flex;
}

.content-4 {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.list-items-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-14 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

.small-columns-3 {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column-5 {
  width: 100%;
  height: auto;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-wrapper-5 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  display: flex;
}

.image-10 {
  width: 100%;
  height: 271px;
  max-width: 225px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-15 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.image-11 {
  width: 100%;
  height: 271px;
  max-width: 270.87px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-6 {
  width: 100%;
  height: 247px;
  max-width: 775px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  position: absolute;
  top: 330.95px;
  left: 165px;
}

.list-items-3 {
  width: 100%;
  max-width: 775px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.drops-gallery {
  width: 100%;
  height: 1311px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #000000;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 24px;
  display: flex;
}

.columns-4 {
  width: 100%;
  height: 1183px;
  max-width: 919px;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column-7 {
  width: 100%;
  max-width: 260px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.button-2 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #000;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.small-columns-4 {
  width: 100%;
  height: 271px;
  max-width: 312px;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 410px;
  display: flex;
}

.f2wf-small-columns-3 {
  display: flex;
}

.column-8 {
  width: 100%;
  height: 271px;
  max-width: 311px;
  min-width: 311px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-wrapper-6 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  display: flex;
}

.image-12 {
  width: 100%;
  height: 271px;
  max-width: 276px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.ar-portal-scavenger-hunt-in-16-cities-around-the-world {
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.image-13 {
  width: 100%;
  height: 269px;
  max-width: 286px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-14 {
  width: 100%;
  height: 271px;
  max-width: 323.768px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-15 {
  width: 100%;
  height: 271px;
  max-width: 299px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-16 {
  width: 100%;
  height: 271px;
  max-width: 318.71px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-17 {
  width: 100%;
  height: 271px;
  max-width: 313px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-2 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section-title-2 {
  width: 100%;
  max-width: 530px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-16 {
  color: #FFFFFF;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}

.text-17 {
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.form-wrapper-2 {
  width: 100%;
  max-width: 500px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.form-2 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.input-wrapper-2 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.form-text-input-3 {
  width: 100%;
  height: 42px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #979797;
  background-color: #000000;
  border: 1px solid #000;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  display: flex;
}

.form-text-input-3::-ms-input-placeholder {
  color: #979797;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.form-text-input-3::placeholder {
  color: #979797;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.text-18 {
  color: #979797;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.form-text-input-4 {
  width: 100%;
  height: 42px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #979797;
  background-color: #000000;
  border: 1px solid #000;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  display: flex;
}

.form-text-input-4::-ms-input-placeholder {
  color: #979797;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.form-text-input-4::placeholder {
  color: #979797;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.form-textarea-2 {
  width: 100%;
  height: 100px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #979797;
  background-color: #000000;
  border: 1px solid #000;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  display: flex;
}

.form-textarea-2::-ms-input-placeholder {
  color: #979797;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.form-textarea-2::placeholder {
  color: #979797;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.form-button-2 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #fff;
  background-color: #000;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  display: flex;
}

.footer-2 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: #000000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 24px 8px;
  display: flex;
}

.columns-5 {
  width: 100%;
  max-width: 960px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.column-9 {
  width: 100%;
  max-width: 320px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.logo-wrapper-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.logo-3 {
  width: 141px;
  height: 36px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo-4 {
  width: 100px;
  height: 100px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: scale-down;
  justify-content: center;
  align-items: center;
  display: flex;
}

.color-logo-1 {
  color: #FFFFFF;
  font-size: large;
  font-weight: bold;
  height: 50%;
}
.color-logo-2 {
  color: #9990FF;
  font-size: large;
  font-weight: bold;
  height: 50%;
}

.small-columns-5 {
  width: 100%;
  max-width: 600px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.column-10 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-5 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-19 {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.footer-links-2 {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.content-6, .content-7 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.copyright-2 {
  width: 100%;
  max-width: 940px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  box-shadow: 0 -1px #e4ebf3;
}

.drops-creative-solutions-delightful-augmented-reality-experiences-0 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}

.drops-creative-solutions-delightful-augmented-reality-experiences-1 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.text-block {
  color: #D9D9D9;
  align-self: auto;
}

.div-block {
  padding-left: 265px;
  padding-right: 100px;
}

.text-block-2, .text-block-3, .text-block-4, .text-block-5 {
  color: #D9D9D9;
  text-align: center;
  font-size: 14px;
}

.hero-heading-right {
  background-color: #000000;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.shadow-two {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.btn-contact {
  padding: 0;
  color: #9990FF !important;
  background-color: transparent !important;
}

.btn-nav {
  padding: 0;
  width: auto;
  color: #fff !important;
  background-color: transparent !important;
}

@media screen and (max-width: 479px) {
  .btn-contact {
  }
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #9990FF;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.btn-transparent{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.btn-contact:hover {
  color: #fff;
  background-color: #32343a !important;
}

.btn-contact:active {
  background-color: #43464d !important;
}

.btn-info {
  color: #9990FF !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-color: transparent !important;
  background-color: transparent !important;
  font-size: 10px;
  transition: all .2s;
}

.btn-info:hover {
  color: #fff !important;
  border-color: #32343a !important;
  background-color: #32343a !important;
}

.btn-info:active {
  color: #fff !important;
  border-color: #32343a !important;
  background-color: #43464d !important;
}

model-viewer{
  width: 400px;
  height: 600px;
}

#hope4haiti model-viewer{
  width: 400px;
  height: 350px;
}

.model-thumb{
  width: 200px;
  height: 300px;
}

.model-full{
  width: 100%;
  height: 300px;
}

.model-full-lg{
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 991px) {
  model-viewer{
    width: 800px;
    height: 600px;
  }
  .landing-page {
    padding-left: 10%;
    padding-right: 10%;
  }

  .navbar-logo-left {
    padding-right: 0;
  }

  .navbar-menu {
    max-width: unset;
  }

  .navbar-link, .navbar-button {
    justify-content: center;
  }

  .f2wf-columns {
    flex-direction: column;
    align-items: center;
  }

  .column-3, .content-2, .footer-links {
    align-items: center;
  }

  .navbar-logo-left-2 {
    padding-right: 0;
  }

  .navbar-menu-2 {
    max-width: unset;
  }

  .navbar-link-2 {
    justify-content: center;
  }

  .text-10 {
    order: 1;
    align-self: auto;
    display: block;
    position: static;
  }

  .navbar-button-2 {
    justify-content: center;
  }

  .f2wf-columns-2 {
    flex-direction: column;
    align-items: center;
  }

  .column-9, .content-5, .footer-links-2, .content-6, .content-7 {
    align-items: center;
  }

  .container-3 {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .text-over-map {
    color: #fff;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    line-height: 150%;
  }
}

@media screen and (max-width: 767px) {
  model-viewer{
    width: 300px;
    height: 300px;
  }
  .f2wf-small-columns, .f2wf-small-columns-2, .f2wf-small-columns-3 {
    flex-direction: column;
    align-items: left;
  }

  .hero-heading-right {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 479px) {
  .logo {
    height: 50px;
  }

  .title-section {
    flex-wrap: nowrap;
  }

  .image-4, .image-5, .image-7 {
    height: 271px;
  }

  .text-10 {
    display: block;
    position: static;
  }

  .drops-team {
    height: auto;
    display: block;
  }

  .f2wf-columns-2 {
    height: auto;
  }

  .drops-creative-solutions-delightful-augmented-reality-experiences-1 {
    text-align: center;
  }

  .container-3 {
    max-width: none;
  }

  .text-over-map {
    color: #fff;
    text-align: center;
    font-size: .8em;
    font-weight: 600;
    line-height: 150%;
  }
}
