
.no-underline{
    text-decoration: none;
    color: inherit;
}

.video-fit {
    /* object-fit:contain */
    width: auto    !important;
  height: 640px   !important;
}
@media screen and (max-width: 479px) {
    .video-fit {
        /* object-fit:contain */
        width: auto    !important;
      height: 320px   !important;
    }
}

.bg-black{
    background-color: #000000;
}

.product-item{
    text-align: center;
    width: 100%;
}

/* .product-item:hover .desc-short{
    display: none;
    height:200px;
} */

.desc-short{
    color: #D9D9D9;
    text-align: center;
    font-size: 14px;
}

.readmore{
    /* display: none; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-item:hover .readmore{ 
	display:block;
}